.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

a {
  text-decoration: none;
}

.user-button:hover {
  color: #000000;
}

.user-button:focus {
  color: #42daf5;
}

.functions-button:hover {
  color: #000000;
}

.functions-button:focus {
  color: #000000;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.hidden {
  display: none;
}

.App-link {
  color: #09d3ac;
}
